/* body{
    color: white
} */

/* ************  GRID  ******* */
/* use lc-grid on small scren sizes like in dashboard layout */
.lc-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.lc-grid-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.lc-grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.lc-gap-1 {
    gap: 0.5rem;
}

.lc-gap-2 {
    gap: 1rem;
}

.lc-gap-3 {
    gap: 1.5rem;
}

.lc-gap-4 {
    gap: 2rem;
}

.lc-gap-5 {
    gap: 2.5rem;
}

.lc-gap-5 {
    gap: 3rem;
}

/* .item{
    background-color: steelblue;
    padding: 20px;
    border: 1px solid skyblue;
} */

@media screen and (max-width: 990px) {
    .lc-grid-4{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 750px) {
    .lc-grid-4{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .lc-grid-3{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .lc-grid-4{
        grid-template-columns: 1fr;
    }

    .lc-grid-3{
        grid-template-columns: 1fr;
    }
}